#HomePage {
    min-height: 100vh;
    width: 100%;
    max-width: 100%;
    background: #18191A;


    display: flex;
    justify-content: center;
    align-items: baseline;
}

#NewsFeed {
    width: 50%;
    min-width: 400px;
    min-height: 100vh;
    height: 100%;
    background: #18191A;

    padding: 0 20px;

    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#NewsFeed #new-post-input {
    background: #232323;
    border-radius: 10px;
    margin-top: 5vh;
    min-height: 80px;
    height: 15vh;
    width: 90%;

    display: flex;
    align-items: center;
    justify-content: center;

    top: 0;

    position: relative;
    /* box-shadow: 0 5px 25px 0px rgba(17, 17, 17, 0.5); */
}

#NewsFeed #new-post-input #new-post-loading {
    height: 40px;

    display: flex;
    justify-content: center;
    align-items: center;
}

#NewsFeed #new-post-input h5 {
    color: white;
    margin-top: 20px;
    font-size: 20px;
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);

    animation: newPostLoadingAnim 2s infinite both;
}

@keyframes newPostLoadingAnim {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

#NewsFeed #new-post-input input {
    width: 80%;
    height: 70%;

    padding: 0 100px;

    background: #4E4F50;
    padding: 0 10px;

    border-radius: 10px;
    color: white;

    font-size: 20px;

    box-shadow: 0 5px 5px 0 inset rgba(24, 24, 24, 0.2);
}

#NewsFeed #new-post-modal {
    background: rgba(0, 0, 0, .7);
    position: fixed;
    height: 100vh;
    width: 100%;

    top: 0;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10001;
}

#NewsFeed #new-post-modal #new-post-modal-form {
    height: 50%;
    min-width: 350px;
    max-width: 40%;
    width: 50%;
    background: #242526;
    padding: 20px;

    border-radius: 40px;
    border: 1px solid #525252;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    box-sizing: border-box;
}

#NewsFeed #new-post-modal #new-post-modal-form h5 {
    color: white;
    font-size: 20px;
}

#NewsFeed #new-post-modal #new-post-modal-form textarea {
    width: 80%;
    height: 50%;
    margin-top: 20px;

    border-radius: inherit;
    color: #A9ACB1;
    font-size: 20px;


    background: none;

    vertical-align: top;
    text-align: left;


    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;

    padding: 20px;
    box-sizing: border-box;

    resize: none;
}

#NewsFeed #new-post-modal #new-post-modal-form button {
    width: 90%;
    height: 5vh;
    border-radius: 10px;
    margin: 10px;
    background: #505151;
    font-size: 20px;

    transition: all .5s;

    cursor: pointer;
}


#NewsFeed #new-post-modal #new-post-modal-form button:disabled {
    cursor: not-allowed;
}

#NewsFeed #new-post-modal #new-post-modal-form button.button-active {
    background: goldenrod;
}

#NewsFeed #new-post-modal #new-post-modal-form button:hover:not(:disabled) {
    background: #faca50;
}

#NewsFeed #posts-container {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    width: 100%;
}

#NewsFeed #newsfeed-end-text,
#NewsFeed #newsfeed-no-post {
    color: white;
    padding: 10vh 0;
}

#NewsFeed .post {
    max-width: 90%;
    width: 90%;

    min-height: fit-content;
    background: #232323;

    margin: 10px;
    margin-top: 5vh;
    padding: 20px 10px 10px 10px;

    border-radius: 10px;

    box-sizing: border-box;

    box-shadow: 0 20px 25px 0px rgba(0, 0, 0, .3);

    position: relative;

}

#NewsFeed .post span {
    font-size: calc(1vw + 13px);
}

#NewsFeed .post.deleting-post {
    animation: deletingAnim 2s forwards;

    color: black;
}

@keyframes deletingAnim {
    from {
        opacity: 1;
    }

    to {
        height: 0;
        margin: 0;
        opacity: 0;
        padding: 0;
        visibility: hidden;
        display: none;
        transform: translateX(100vw);

    }
}

#NewsFeed .post .post-name {
    display: flex;
    justify-self: flex-start;
    justify-content: space-between;
    margin-bottom: 1vh;

    margin: 20px;
    font-size: 30px;
    color: white;

}

#NewsFeed .post.new-post-anim {
    background: white;
}

#NewsFeed .post .post-name .post-author-container {
    text-align: left;
}
#NewsFeed .post .post-name .post-author-container h5{
    font-size: calc(1vw + 7px);
}

#NewsFeed .post .post-name .post-author-container p {
    font-size: 10px;
    font-weight: 100;
    color: #A9ACB1;
}

#NewsFeed .post .post-name .post-options-btn {
    display: flex;
    position: absolute;
    top: 0;
    font-size: 40px;
    right: 5%;
    color: rgb(171, 171, 171);
    cursor: pointer;
    user-select: none;
}

#NewsFeed .post .post-name .post-options-btn:hover {
    color: white;
}

#NewsFeed .post .post-name .post-options {
    background: #414243;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .3);
    width: 200px;
    min-width: fit-content;
    height: fit-content;
    right: -5%;
    top: 55px;

    position: absolute;

    border-radius: 10px;
    border: 1px solid #4E4F50;

    padding: 5px;
}

#NewsFeed .post .post-name .post-option {
    padding: 10px;
    cursor: pointer;
    user-select: none;
    text-align: left;
    font-size: 15px;
}

#NewsFeed .post .post-name .post-option:hover {
    background: #919191;
}

#NewsFeed .post .post-name .post-option:nth-child(1) {
    border-top-right-radius: inherit;
    border-top-left-radius: inherit;
}

#NewsFeed .post .post-name .post-option:last-child {
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
}

#NewsFeed .post .post-post {
    display: flex;
    color: white;
    font-weight: 100;

    height: 90%;
    max-height: 100%;

    margin: 10px 20px;

    border-radius: 20px;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: left;
    font-size: 50px;
    word-wrap: break-word;
    flex-wrap: wrap;

    padding: 10px;

    box-sizing: border-box;
}

#NewsFeed .post .post-post span {
    width: 100%;
    display: inline;
    white-space: pre-wrap;
}


#NewsFeed .post .post-buttons {
    width: 100%;
    height: 50px;
    min-height: 100%;

    border-radius: 10px;

    background: #232323;

    margin-top: 5px;
    padding-top: 5px;
    border-top: 1px solid #525252;

    display: flex;
    align-items: center;
    justify-content: space-evenly;

    overflow: hidden;
}

#NewsFeed #nf-loading-text {
    color: #505151;
    height: 50vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

#NewsFeed .post .post-buttons button {
    width: 100%;
    min-height: fit-content;
    height: 100%;

    margin: 2px;

    background: none;
    color: white;

    cursor: pointer;

    border-radius: 20px;

    transition: all .1s;
}

#NewsFeed .post .post-buttons button:hover {
    background: #414141;
}

#NewsFeed .post .post-comment-input {
    border-top: 1px solid rgb(113, 113, 113);
    background: #232323;
    height: 50px;
    max-width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    border-radius: 10px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    color: white;
    padding: 10px;
    margin-top: 5px;
    display: flex;

    animation: postCommentAnim .5s forwards;
    opacity: 0;
}

@keyframes postCommentAnim {
    0% {
        opacity: 0;
        transform: translateY(-10px);
        height: 0;
    }

    100% {
        height: 50px;
        opacity: 1;
        transform: translate();
    }
}

#NewsFeed .post .post-comment-input .post-comment-input-profile {
    background: white;
    width: 40px;
    height: 40px;
    border-radius: 100px;
}

#NewsFeed .post .post-comment-input input {
    width: 60%;
    height: fit-content;
    min-height: 90%;
    background: #3A3B3C;

    border-radius: 10px;

    padding: 10px;

    color: white;

    display: flex;
    align-items: baseline;

    box-sizing: border-box;
}

#NewsFeed .post .post-comment-input button {
    width: 15%;
    height: 80%;

    padding: 5px 0;

    background: #3A3B3C;
    color: white;
    font-weight: bold;
    letter-spacing: 1px;

    border-radius: 5px;
    cursor: pointer;
}

#NewsFeed .post .post-data-info {
    height: 20px;
    max-width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 30px;
}

#NewsFeed .post .post-data-info h5 {
    color: #b9b9b9;
    font-weight: 100;
    margin: 2px;
}


.post-comments-container {
    color: white;
}

.post-comments-container .commenter-profile {
    width: 30px;
    height: 30px;
    min-width: 30px;
    max-width: 30px;
    min-height: 30px;
    max-height: 30px;
    margin-right: 10px;
    background: #3A3B3C;
    border-radius: 50px;
}

.post-comments-container .user-comment-container {
    margin: 5px 0;
    padding: 10px;
    border-radius: 10px;

    display: flex;
    justify-content: flex-start;
    align-items: baseline;
}

.post-comments-container .user-comment-container .user-comment-content {
    width: 100%;
    height: 100%;
    background: #3A3B3C;

    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: baseline;

    border-radius: 15px;
    padding: 10px;
    box-sizing: border-box;
}

.post-comments-container .user-comment-container .user-comment-content h5 {
    font-weight: 300;
    margin-top: 5px;
}